NEXT_PUBLIC_SITE_URL=https://www.ratiiagrawal.com
NEXT_PUBLIC_WORDPRESS_URL=https://cms.thesportsrivalry.com
WORDPRESS_GRAPHQL_URL=https://cms.thesportsrivalry.com/graphql
NEWSLETTER_URL=https://newsletter.example.com
